@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav-item{
  @apply px-4 py-2.5 mt-2 text-sm font-semibold bg-transparent rounded-md md:mt-0 md:ml-4 text-teal-950 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:outline-none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

